<div class="session" id="招待講演">
  <h2>{{ session_data.title }}
    {%- if not index -%}<br/><small>{{ session_data.time }}</small> &nbsp; <small>座長: {{ session_data.chair }}</small>{%- endif -%}
  </h2>
  <div id="keynote">
    <div id="keynote_speaker">講演者: {{ session_data.presenter }} 先生<small>{{ session_data.affiliation | safe }}</small></div>
    <div class="keynote_headning">概要</div>
    <p>{{ session_data.abstract }}</p>
    <div class="keynote_headning">講演資料</div>
    <p>{%- if session_data.material.url -%}<a href="{{ session_data.material.url }}">{%- endif -%}
        {{ session_data.material.name }}
        {%- if session_data.material.url -%}</a>{%- endif -%}</p>
    <div class="keynote_headning">略歴</div>
    <p>{{ session_data.biography }}</p>
  </div>
</div>

