<div id="program_table">

{% for key, session in sessions | sortDataByTime %}
  <div class="flex-row">
    <div class="program_time flex-item">{{ session.time }}</div>
    <div class="flex-item">
        {%- if not session.nolink -%}
          <a href="{%- if index -%}program{%- endif -%}#{{ session.header or session.title }}">
        {%- endif -%}
        {{ session.timeheader or session.title }} {{ session | countSession }}
        {%- if not session.nolink -%}
          </a>
        {%- endif -%}
    </div>
  </div>
{% endfor %}

</div>

