---
title: "JLR2024 プログラム"
layout: base.njk
cssfile: program.css
jsfile: collapsible.js
description: "言語処理学会第29回年次大会 併設ワークショップ JLR2024 - プログラム"
---

<h1>JLR2024 プログラム</h1>

<!--
<p>2024年3月15日(金) 9:30〜18:00<br/>沖縄コンベンションセンターB1会議室(サテライトA2会議室)＋オンライン中継(Zoom)のハイブリッド開催</p>

<div class="twitter_info">
<div class="accoutn">公式アカウント<a href="https://twitter.com/jedws" target="_blank" rel="noreferrer">@jedws</a></div>
</div>

<table id="program_table">
  <tbody>
    <tr>
      <td class="program_time">9:30-9:35</td>
      <td>オープニング</td>
    </tr>
    <tr>
      <td class="program_time">9:35-10:30</td>
      <td><a href="#日本語データセットの構築(1)">日本語データセットの構築(1) [一般発表2件]</a></td>
    </tr>
    <tr>
      <td class="program_time">10:40-11:40</td>
      <td><a href="#日本語データセットの構築(2)">日本語データセットの構築(2) [一般発表2件・LT2件]</a></td>
    </tr>
    <tr>
      <td class="program_time">11:50-13:15</td>
      <td><a href="#多言語・多分野の言語資源の構築">多言語・多分野の言語資源の構築 [一般発表3件・LT3件]</a></td>
    </tr>
    <tr>
      <td class="program_time">13:15-14:20</td>
      <td>昼休憩</td>
    </tr>
    <tr>
      <td class="program_time">14:20-15:20</td>
      <td><a href="#招待講演">招待講演: (山田育矢先生)</a></td>
    </tr>
    <tr>
      <td class="program_time">15:30-17:05</td>
      <td><a href="#事前学習モデルの構築と利用">事前学習モデルの構築と利用 [一般発表3件・LT3件]</a></td>
    </tr>
    <tr>
      <td class="program_time">17:15-18:00</td>
      <td><a href="#パネル(総合討論)・クロージング">パネル(総合討論)・クロージング</a></td>
    </tr>
  </tbody>
</table>


<div class="program_legend">
  <div>
    <div class="icons">🎤 一般発表 &nbsp; ⚡ ライトニングトーク &nbsp; 💬 ディスカッション</div>
    <div class="caveat">(発表時間は当日の進行状況により前後することがあります)</div>
  </div>
  <div>
    <div class="btn_abstract_all" data-target=".abstract" data-action="open">全ての概要を開く</div>
  </div>
</div>


{% set session_data = session_1 %}
{% include "session.njk" %}


{% set session_data = session_2 %}
{% include "session.njk" %}

{% set session_data = session_3 %}
{% include "session.njk" %}

<div class="session" id="招待講演">
  <h2>招待講演：知識拡張型言語モデルLUKE<br/><small>14:20-15:20</small> &nbsp; <small>座長: 浅原正幸 (国語研)</small></h2>
  <div id="keynote">
    <div id="keynote_speaker">講演者: 山田育矢 先生<small>（<a href="https://www.ousia.jp/ja/">株式会社Studio Ousia</a>, Co-founder, Chief Scientist）</small></div>
    <div class="keynote_headning">概要</div>
    <p>LUKEは、単語とエンティティを扱う知識拡張型言語モデルで、エンティティに関する知識が重要となるダウンストリームタスクを良い性能で解くことができる。このモデルはHuggingface Transformersに組み込まれており、簡単に使うことができる。本講演では、LUKE (EMNLP 2020) 、多言語版LUKE (ACL 2022)、LUKEのエンティティリンキングへの応用 (NAACL 2022, EMNLP Findings 2022)、日本語版LUKEまでの取り組みを紹介する。</p>
    <div class="keynote_headning">講演資料</div>
    <p><a href="https://speakerdeck.com/ikuyamada/zhi-shi-kuo-zhang-xing-yan-yu-moderuluke">知識拡張型言語モデルLUKE</a></p>
    <div class="keynote_headning">略歴</div>
    <p>（株）Studio Ousiaを共同創業し、自然言語処理の技術開発に従事。2000年に（株）ニューロンを起業し、2005年に売却。2007年にStudio Ousiaを設立。博士（学術）。理化学研究所AIP客員研究員。Kaggle Master。</p>
  </div>
</div>

{% set session_data = session_4 %}
{% include "session.njk" %}

{% set session_data = session_5 %}
{% include "session.njk" %}

-->

<p><a href="../">トップに戻る</a><p>